# Ignore Gradle project-specific cache directory
.gradle/

# Do not ignore gradle wrapper jar file
!/gradle/wrapper/gradle-wrapper.jar

# Ignore Gradle build output directory
build/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Ignore Kotlin plugin data
.kotlin/

# Entire data directory
data

# Test output files
app/src/test/resources/happy-output-actual*.html
